.App{
    max-width: 500px;
    margin: 0 auto;
}
.weather{
    border: 1px solid rgb(190, 180, 180);
    border-radius: 5px;
}
.weather .form-control{
    margin:10px;
    box-shadow: 5px 5px 5px whitesmoke;
}
.weather .btn{
    margin:10px;
    box-shadow: 2px 2px 2px rgb(96, 96, 164);
}
.weather canvas{
    margin-top: 10px;
    margin-left: 17px;
    margin-bottom: 10px;
}
.info h1{
    margin-left: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.4;
}
.info h6{
    margin: 0 14px ;
    line-height: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.6;
}
.temp .temperature{
    margin: 1px;
    font-size: 60px;
    margin-left: 10px;
}
.temp .units{
    font-size: 20px;
    position: relative;
    top: -30px;
}
.temp a{
    text-decoration: none;
}
.temp a:hover {
    text-decoration: underline;
}
.info ul{
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.6;
    padding: 15px;
}
.forecastDay{
    margin-left: 20px;
}
.temperature .min-temperature {
    opacity: 0.5;
}
.temperature .max-temperature {
    margin-left: 10px;
}
.forcast{
    margin-bottom: 5px;
}
.icon canvas{
    margin-top: 10px;
    margin-left: 17px
}
@media (max-width:500px) {
    .temp .temperature {
        font-size: 40px;
    }
    .temp .units {
        font-size: 20px;
        position: relative;
        top: -15px;
    }
    .weather canvas {
        margin-top: 10px;
        margin-left: 20px;
        width: 35px;
        height: 35px;
    }
    .info .d-flex{
        padding-top:10px;
    }
    .temperature{
        font-size: 10px;
    }
    .info ul{
        font-size: 10px;
    }
    .forcast {
        margin-left: 0px;
    }
    .icon canvas {
        margin-top: 10px;
        margin-left: 17px
    }
    .icon{
        margin-left: -10px;
    }
    .icon .temperature{
        margin-left: 10px;
    }
}
footer{
    margin: 5px;
}